div {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
/*  height: 100vh; Will make the container fit the entire page.*/
}

.row {
    width: 100%;
}

.column {
    float: left;
    padding: 10px;
    margin: 10px 0px;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.33%;
}

.two-thirds {
    width: 66.66%;
}

.one-fourth {
    width: 25%;
}

.three-fourth {
    width: 75%;
}

.one-sixth {
    width: 16.66%;
}

.one-eighth {
    width: 12.5%;
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }

    .one {
        width: 100%;
    }
}