h1 {
    text-align: center;
}

div.alert-info a:link {
    color: #000;
    text-decoration: none;
}

div.alert-info a:visited {
    color: #000;
    text-decoration: none;
}

ul.nav-links a:link {
    color: blue;
}

ul.nav-links a:visited {
    color: blue;
}

.nav-links li {
    padding: 1em;
    margin: 1em 0em;
    background-color: lightgray;
}

footer>p {
    float: left;
}

i {
    margin: 0px 0px 0px 10px;
    font-size: 250%;
}

#social-media-links {
    list-style-type: none;
    float: right;
}

#social-media-links a {
    text-decoration: none;
    color: grey;
}

#social-media-links a:hover {
    color: lightgray;
}

#social-media-links a:active {
    color: grey;
}

.alert-info {
    text-align: center;
    margin: 1em 0em;
    padding: 1.5em;
    border: 2px solid lightgray;
    background-color: #b8f6ff;
}

.nav-links {
    list-style-type: none;
    text-align: center;
    padding: 0em;
}

.header-img {
    text-align: center;
}

.header-img img {
    width: 100%;
}

.main {
    width: 100%;
}

.sub-section {
    font-style: italic;
    margin: 50px 0px 100px 0px;
    width: 100%;
}

#desktop_img {
    display: none;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

    body {
        position: relative;
    }

    h1 {
        text-align: left;
        display: inline-block;
        padding: 50px 0px;
        margin: 0px;
        float: left;
    }

    h2 {
        margin: 30px 0px;
    }

    nav {
        float: right;
    }

    ul.nav-links li {
        display: inline-block;
        background-color: transparent;
        padding: 50px 0px 50px 40px;
        margin: 0px;
    }

    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        text-align: right;
    }

    .header-img img {
        width: 100%;
    }

    .main   {
        box-sizing: border-box;
        float: left;
        padding: 0px 20px 300px 0px;
    }

    .sub-section {
        box-sizing: border-box;
        padding: 0px 0px 300px 0px;
        float: left;
        margin: 0px;
    }

    #desktop_img {
    display: inline-block;
    clear: both;
    }

    #mobile_img {
    display: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
}